%div.modal-xl.modal-dialog.modal-dialog-centered.modal-dialog-scrollable
  %div.modal-content
    %div.modal-header.product-message-modal-header
      %h5.modal-title.product-message-modal-title{ id: label }
        = @product.name
      %button.product-message-modal-close.close{ 'data-dismiss': 'modal', type: 'button', 'aria-label': 'Close' }
        %span{ 'aria-hidden': 'true' } &times;
    %div.modal-body.product-message-modal-body
      = render partial: 'messages/form', locals: @product.message_form_options
      %div.product-message-success.d-flex.flex-column.justify-content-center.align-items-center
        %span.mt-n5.d-flex.checkmark.text-success
        %h2.mt-5.d-flex= t('product.message_sent')

