%h4
  = link_to t('admin.products'), admin_products_path, class: 'text-reset'
  = link_to t('admin.create_new'), new_admin_product_path, class: 'btn btn-sm btn-success ml-3'
%ul.list-group.list-group-flush
  - @products.each do |product|
    %li.list-group-item
      = link_to product.name, edit_admin_product_path(product), class: 'text-reset'
      %small.float-right= l(product.created_at, format: :record)
