%h1.h1.mt-5.mb-4 Dashboard

%div.container.mb-5
  %div.row
    %div.col-12.col-md-5.mb-5.mb-md-0
      = render partial: 'categories'
    %div.col-12.col-md-5.offset-md-2
      = render partial: 'products'
