%div.container.gallery-container-filters
  %label.h4= t('gallery.filters')
  %ul.list-group.list-group-flush#gallery-filters
    - @categories.find_each do |cat|
      %li.d-flex.align-items-center.justify-content-start.list-group-item
        %span.gallery-filter-button.text-success.d-flex.align-items-center.justify-content-center{ |
        class: "#{'active' if active_filters.include?(cat.slug)}", |
        'data-filter-slug': cat.slug, |
      }
          %span.checkmark
          %svg.close-icon{ viewBox: '0 0 10 10', fill: 'none', 'stroke-width': '0.07', stroke: 'black' }
            %path{ d: 'M0 0 l10 10 M10 0 l-10 10' }

        %span.ml-2.gallery-filter-name= cat.name
        %span.ml-auto.gallery-filter-count= cat.product_count
