%div.container.mb-4.pt-5.fade.no-results-container{ 'data-fader': true }
  %div.row
    %div.col-4
      %svg.page-end-curve{ viewBox: '0 0 30 8', fill: 'none', 'stroke-width': '0.07', 'stroke-dasharray': '0.2 0.3' }
        %path{ d: 'M0 6 c5 -15 20 7 30 0' }
    %div.col-4.text-center.page-end-copy-container.page-end-copy-container--empty.h5
      %span.page-end-copy no results
    %div.col-4
      %svg.page-end-curve.page-end-curve--right{ viewBox: '0 0 30 8', fill: 'none', 'stroke-width': '0.07', 'stroke-dasharray': '0.2 0.3' }
        %path{ d: 'M0 6 c5 -15 20 7 30 0' }
