%div.container.gallery-page{ 'data-page': page_number }
  %div.d-flex.justify-content-around.flex-wrap
    - products.each do |item|
      %div.card.gallery-card
        - if item.gallery_image.attached?
          %a.card-img-top.gallery-card-image.d-block.lazyload{ href: product_path(item), 'data-src': url_for(item.gallery_image.imgproxy_url(width: 285, height: 285)) }
        - else
          %div.card-img-top.gallery-card-image.placeholder-image{ 'data-missing-image': t('gallery.image_missing') }
        %div.card-body.gallery-card-body
          %h5.card-title= item.name
          %div.text-left.card-text= item.description.html_safe

- if products.last_page?
  = render :partial => 'end_results'
