%div.gallery-container
  %h1.text-center.gallery-title Gallery

  %div#infinite-scroll-container{ data: { 'current-page': 0, 'last-page': @products.last_page?.to_s, 'url': gallery_url(filter: params[:filter]) } }
    = render :partial => 'page', locals: { page_number: 0, products: @products }

- content_for :turbolinks_pack do
  = javascript_pack_tag 'gallery', 'data-turbolinks-track': 'reload', 'defer': 'defer'
