@import "bootstrap/scss/spinners";

.message-form-container {
  .product-message-submit-button {
    position: relative;
    z-index: 2;
  }
  .product-message-loading-button:disabled {
    opacity: 0;
    transition: opacity 0.2s linear;
  }

  &.loading {
    .product-message-loading-container {
      bottom: 0;
      opacity: 1;
    }

    .message-form-product-fields {
      filter: blur(1px);
    }

    .product-message-submit-button {
      display: none;
    }

    .product-message-loading-button {
      display: block;
      opacity: 0.65;
      width: auto;
    }
  }

  &.success {
    .product-message-success {
      bottom: 0;
      opacity: 1;
    }

    .contact-form {
      opacity: 0;
    }
  }
}

.contact-form {
  opacity: 1;
  transition: opacity 0.2s linear;
}

.product-message {
  &-loading {
    &-container {
      bottom: 100%;
      opacity: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity 0.2s linear;
      z-index: 1;
    }

    &-spinner {
      animation-duration: 5s;
      animation-timing-function: ease-in-out;
      border: 1px dashed currentColor;
      border-right-color: transparent;
      color: $purple;
      height: 6rem;
      width: 6rem;
    }
  }

  &-success {
    bottom: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.2s linear;
  }

  &-open-btn:disabled {
    cursor: default;
  }
}

.message-form-product-fields {
  transition: filter 0.2s linear;
}
