// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bootstrap_toolbox";

.about-description {
  background-color: $charcoal;
  margin-top: -1px;
  padding: 0;

  &--paragraph {
    font-size: 18px;
    line-height: 2rem;
    margin: 0 auto;
    max-width: 55rem;
    padding: 3rem 1rem 0;
    text-align: justify;
  }

  &--sivumbike {
    font-size: 1.3rem;
    padding: 0 0 3rem;
    text-align: center;
  }
}

.about-container {
  position: relative;

  &--patchwork {
    background-color: $light-pink;
    padding-top: 3rem;

    .about-description--paragraph {
      padding-top: 0;
    }
  }

  &--we {
    background-color: $light-pink;
    margin-top: -1px;
  }

  &--sivumbike {
    color: $white;
    z-index: 1;

    &:after {
      border-left: 1.5rem solid transparent;
      border-right: 1.5rem solid transparent;
      border-top: 1rem solid $charcoal;
      bottom: -0.9rem;
      content: '';
      height: 0;
      left: calc(50% - 1.5rem);
      position: absolute;
      width: 0;
    }
  }
}

.about-title {
  border-bottom: 1px dashed $light-pink;
  height: 0;
  font-size: 2.5rem;
  hyphens: auto;
  padding-bottom: 9rem;
  margin-bottom: 7rem;
  overflow-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;

  &-container {
    background-color: $charcoal;
    color: $light-pink;
    margin-top: -7rem;
    overflow: hidden;
    padding-top: 7rem;
    text-shadow: 1px 1px 0px #292c31;
  }

  &--mission {
    border-bottom: 1px dashed $pink;
    font-size: 3rem;
  }
}

.floating-logo.floating-logo--about {
  top: calc(16rem - #{$logo-width / 2});
}

@media (min-width: map-get($grid-breakpoints, "sm")) {
  .about-title {
    font-size: 3.5rem;
    padding-bottom: 11rem;
    margin-bottom: 8rem;
  }

  .floating-logo.floating-logo--about {
    top: calc(18rem - #{$logo-width / 2});
  }
}

@media (min-width: map-get($grid-breakpoints, "md")) {
  .about-title {
    font-size: 4.5rem;
    padding-bottom: 15rem;
    margin-bottom: 10rem;
  }

  .about-description {
    &--paragraph:not(.about-description--sivumbike) {
      padding: 3rem 3rem 0;
    }

    &--sivumbike {
      padding: 0 6rem 3rem;
    }
  }

  .floating-logo.floating-logo--about {
    top: calc(22rem - #{$logo-width / 2});
  }
}
