@import "trix/dist/trix";

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "admin/bootstrap_variables";
@import "global_bootstrap";
@import "bootstrap-select/sass/bootstrap-select";

@import "bootstrap/scss/forms";
@import "bootstrap/scss/input-group";
@import "bootstrap/scss/custom-forms";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/card";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/pagination";

@import "admin/category";

/* Disable Trix/ActiveText Attachments */
trix-toolbar .trix-button-group.trix-button-group--file-tools {
  display: none;
}

.navbar {
  background: $purple;
}

.footer {
  background: $purple;

  &-separator {
    border-left: 2px solid $white;
    height: 2rem;
    margin: 0 calc(1rem - 1px) 0 1rem;
    width: 0;
  }

  &-link {
    color: $white;

    &:hover {
      color: $white;
    }
  }

  &-link-container {
    display: inline-block;
    height: 2rem;
  }

  .dropdown-toggle {
    background: $white;
  }
}

.placeholder-image {
  align-items: center;
  background: grey;
  color: $white;
  display: inline-flex;
  justify-content: space-around;
  overflow: hidden;
  height: 100%;
  width: 100%;

  &:after {
    content: attr(data-missing-image);
    font-size: 1em;
  }
}

.message-card {
  width: 100%;

  @media(min-width: map-get($grid-breakpoints, "md")) {
    width: 45%;
  }

  @media(min-width: map-get($grid-breakpoints, "xl")) {
    width: 33%;
  }

  &-body {
    height: 6.5rem;
    overflow: hidden;
  }
}

.message-aside-list-group {
  width: 100%;

  @media(min-width: map-get($grid-breakpoints, "sm")) {
    width: 49%;
  }

  @media(min-width: map-get($grid-breakpoints, "lg")) {
    width: 100%
  }

  &-item.active {
    .badge {
      background-color: $white;
      color: $blue;
    }
  }
}
