/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "crimson_font";
@import "trix/dist/trix";

/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap_variables";
@import "bootstrap/scss/bootstrap";

@import "navigation";
@import "footer";

@import "home";
@import "about";
@import "contact";
@import "articles";
@import "gallery";
@import "product";

html, body {
  font-family: 'Crimson';
  height: 100%;
}

body {
  height: calc(100% - 7rem - 5rem);
  margin-top: 7rem;
}

.h1, .h2 {
  border-bottom: 1px dashed $pink;
}

.list-group-item-action {
  &:hover {
    background-color: $pink;

    a {
      color: $white;
    }
  }

  a {
    color: $black;
    text-decoration: none;
  }
}

.jumbotron.jumbotron-top {
  border-bottom: 1px dashed $white;
  color: $white;
  margin-top: -7rem;
  min-height: calc(100vh - 7rem);
  text-align: center;

  .jumbotron-container {
    background: $purple;
    border: 1px dashed $white;
    border-radius: 10px;
    display: inline-block;
    margin-top: calc((50vh - 12rem));
    text-align: left;
    width: auto;
  }
}

.shadow--light {
  box-shadow: 0 0 2rem 0 #00000087
}

.close-icon {
  fill: none;
  stroke-width: 0.07;
  stroke: $black;
}
