/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "josefin_sans_font";
@import "colendra_font";

@import "global_bootstrap";

@import "bootstrap/scss/forms";

@import "navigation";
@import "footer";

$logo-width: calc(8rem + 8vw);

html, body {
  background-color: $bone;
  font-family: 'JosefinSans';
  height: 100%;
}

body {
  height: calc(100% - 7rem - 5rem);
  margin-top: 7rem;
  overflow-x: hidden;
}

.h1, .h2 {
  border-bottom: 1px dashed $pink;
}

.floating-logo {
  cursor: grab;
  filter: drop-shadow(0px 0px 0.8rem black);
  left: calc(50% - 4rem - 4vw);
  max-height: $logo-width;
  overflow: hidden;
  position: absolute;
  top: calc(50% - 8rem - 10vw);
  transform: rotate(-45deg);
  transition: all 0.5s ease-in;
  width: $logo-width;
  z-index: 1;

  &.moving {
    cursor: grabbing;
    transition: none;
  }

  &-image {
    margin-left: calc(-1rem - 2.5vw);
    margin-top: calc(-1rem - 2.5vw);
    transform: rotate(45deg);
    width: calc(100% + 2rem + 5vw);
  }

  &--about {
    top: calc(22rem - #{$logo-width / 2});
  }
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.list-group-item-action {
  &:hover {
    background-color: $pink;

    a {
      color: $white;
    }
  }

  a {
    color: $black;
    text-decoration: none;
  }
}

.jumbotron.jumbotron-top {
  border-bottom: 1px dashed $white;
  color: $bone;
  margin-top: -7rem;
  min-height: calc(100vh - 7rem);
  text-align: center;

  .jumbotron-container {
    background: $charcoal;
    border: 1px dashed $white;
    border-radius: 10px;
    display: inline-block;
    margin-top: 50vh;
    text-align: left;
    width: auto;
  }
}

.shadow--light {
  box-shadow: 0 0 2rem 0 #00000087
}

.close-icon {
  fill: none;
  stroke-width: 0.07;
  stroke: $black;
}

.patchworks-alert.alert {
  left: 65vw;
  position: absolute;
  top: calc(10vh + 1rem);
  right: 0;
  z-index: 100;
}

.placeholder-image {
  align-items: center;
  background: grey;
  color: $white;
  display: inline-flex;
  justify-content: space-around;
  overflow: hidden;
  height: 100%;
  width: 100%;

  &:after {
    content: attr(data-missing-image);
    font-size: 1em;
  }
}

.product-message-loading-button {
  width: 0;
  cursor: default;
}

.checkmark {
  border-bottom: 1.5em solid currentColor;
  border-right: 1.5em solid currentColor;
  display: block;
  height: 6.5em;
  transform: rotate(45deg);
  width: 3.5em;
}
