@font-face {
  font-family: 'Colendra';
  src: font_url('Colendra.woff') format('woff'),
       font_url('Colendra.woff2') format('woff2'),
       font_url('Colendra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Colendra-Alternate';
  src: font_url('Colendra-Alternate.woff') format('woff'),
       font_url('Colendra-Alternate.woff2') format('woff2'),
       font_url('Colendra-Alternate.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
