@font-face {
  font-family: 'Crimson';
  src: font_url('CrimsonText-Regular.woff') format('woff'),
       font_url('CrimsonText-Regular.woff2') format('woff2'),
       font_url('CrimsonText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson';
  src: font_url('CrimsonText-SemiBoldItalic.woff') format('woff'),
       font_url('CrimsonText-SemiBoldItalic.woff2') format('woff2'),
       font_url('CrimsonText-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson';
  src: font_url('CrimsonText-SemiBold.woff') format('woff'),
       font_url('CrimsonText-SemiBold.woff2') format('woff2'),
       font_url('CrimsonText-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson';
  src: font_url('CrimsonText-Bold.woff') format('woff'),
       font_url('CrimsonText-Bold.woff2') format('woff2'),
       font_url('CrimsonText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson';
  src: font_url('CrimsonText-Italic.woff') format('woff'),
       font_url('CrimsonText-Italic.woff2') format('woff2'),
       font_url('CrimsonText-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Crimson';
  src: font_url('CrimsonText-BoldItalic.woff') format('woff'),
       font_url('CrimsonText-BoldItalic.woff2') format('woff2'),
       font_url('CrimsonText-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
