@import "bootstrap-select/sass/bootstrap-select";
@import "bootstrap_toolbox";
@import "bootstrap/scss/card";
@import "bootstrap/scss/list-group";

.gallery-scroll-top.btn {
  bottom: 1rem;
  border-radius: 1rem;
  border: 2px dotted $white;
  box-shadow: inset 0 0 0 2px $purple, 0 0 0 2px $purple;
  right: 1rem;
  position: fixed;
  z-index: 2;

  &:hover {
    border-color: $white;
  }
}

.gallery-container {
  min-height: 100%;

  &-filters {
    margin-top: 2rem;

    .clear-filters-button {
      background: $purple;
      border: 2px solid $white;
      border-radius: 0.5rem;
      color: $white;
      font-weight: 600;

      &:hover {
        background: $white;
        border: 2px solid $purple;
        color: $purple;
      }

      &[data-disabled="true"], &[data-disabled="true"]:hover {
        background-color: $pink;
        border-color: $white;
        color: $white;
        cursor: not-allowed;
      }
    }
  }
}

.gallery-category-filters.btn {
  background: $purple;
  border: 2px solid $white;
  border-radius: 0.5rem;
  color: $white;
  font-weight: 600;
  margin-bottom: 1rem;

  .show > & {
    margin-bottom: 10rem;
  }

  & + .dropdown-menu {
    height: 9.7rem !important;
    overflow: scroll !important;
  }

  &:hover {
    background-color: $white;
    border-color: $purple;
    color: $purple;
  }

  &.bs-placeholder.dropdown-toggle {
    border-color: $purple;
    color: $white;

    &:hover, &:focus {
      background-color: $white;
      border-color: $purple;
      color: $purple;
    }
  }

  .dropdown-menu {
    border-radius: 0.5rem;
  }
}

.gallery-results-button.btn {
  background: $blue;
  border-radius: 0.5rem;
  border: 4px dashed $yellow;
  box-shadow: 0 0 0 3px $purple, 0 0 0 5px $blue;
  color: $white;
  font-weight: 600;

  &:hover {
    border-color: $white;
    box-shadow: 0 0 0 3px $yellow, 0 0 0 5px $purple, 0 0 0 7px $blue;
  }
}

.active-filter {
  pointer-events: none;
  position: relative;

  & .close-icon {
    background: #ad1061;
    box-shadow: 0px 0 2px 0px black;
    border-radius: 1rem;
    cursor: pointer;
    height: 2rem;
    margin-top: -1rem;
    pointer-events: all;
    position: absolute;
    padding: 0.3rem;
    right: 1rem;
    stroke-width: 0.8;
    stroke: #fefdfd;
    top: 50%;
    transition: all 0.05s linear;
    width: 2rem;

    &:hover {
      box-shadow: 2px 0 4px 0px #6d3b5c;
      right: calc(1rem + 2px);
    }
  }
}

.gallery-title {
  font-size: calc(3rem + 1.5vw);
}

.page-end {
  &-copy-container {
    align-items: center;
    display: flex;
    justify-content: center;
    letter-spacing: 1.5rem;
    text-transform: uppercase;

    &--empty {
      letter-spacing: 1rem;
    }
  }

  &-copy {
    cursor: default;
    margin-left: 1.7rem;
  }

  &-curve {
    stroke: #ad1061;
    width: 100%;

    &--right {
      transform: rotateY(180deg);
    }
  }
}

.gallery {
  &-nav-tabs.nav-tabs {
    border-bottom: 2px dashed $purple;
    font-size: 1.7rem;
    justify-content: space-evenly;

    .gallery-nav-item {
      border: 2px dashed $purple;
      color: $pink;
      transition: all 0.2s linear;

      &.active {
        background: $purple;
        border-color: $white;
        margin-bottom: -2px;
        border-bottom-color: transparent;
        color: $white;
        box-shadow: 0 -3px 0 3px $pink, 0 -7px 0 6px $purple, 0 -14px 0 3px $yellow;
      }

      &:not(.active) {
        border-color: $pink;
        border-bottom-color: transparent;
      }

      &:hover:not(.active) {
        border-color: $pink;
        color: $purple;
        border-bottom-color: transparent;
        box-shadow: 0 -3px 0 3px $purple, 0 -6px 0 3px $pink;
      }
    }
  }
}

.gallery-card {
  border: 2px dashed $purple;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 100%;

  &-image {
    background-position: center;
    background-size: cover;
    padding-bottom: 100%;
    transition: background-image 1s ease-in;

    &.placeholder-image {
      cursor: pointer;
      padding: 0;

      &:after {
        letter-spacing: 0.1rem;
        text-transform: uppercase;
      }
    }
  }

  &-body {
    bottom: 0;
    background: $white;
    height: 0;
    padding-bottom: calc(5.5rem + 0.5vw);
    pointer-events: none;
    position: absolute;
    transition: 0.2s ease-out bottom;
    width: 100%;

    .badge {
      font: {
        size: 1rem;
        weight: normal;
      }
      right: 1rem;
      position: absolute;
      top: 5px;
      z-index: 1;
    }
  }
}

@media(min-width: map-get($grid-breakpoints, "md")) {
  .gallery-card {
    width: calc(50% - 2rem - 1px);

    &-body {
      bottom: -3rem;
    }

    &:hover {
      .gallery-card-body {
        bottom: 0;
      }
    }
  }
}

@media (min-width: map-get($grid-breakpoints, "lg")) {
  .gallery-card {
    width: calc(33% - 2rem - 1px);
  }

  .gallery-container {
    height: calc(100% + 3rem);
    margin-top: -3rem;
  }

  .infinite-scroll-container {
    border-top: 1px solid $purple;
    height: calc(100% - 5rem);
    overflow: scroll;
  }

  .no-results-container {
    border-top: 1px solid $purple;
  }

  .gallery-tab-pane {
    height: 100%;
    overflow: hidden;

    &--results {
      float: right;
      width: 70%;
    }

    &--filters {
      clear: both;
      margin-top: 5rem;
      width: 30%;
    }
  }

  .gallery-tab-content {
    height: 100%;
    position: relative;
    width: 100%;

    & > .tab-pane.gallery-tab-pane {
      display: block;
      opacity: 1;

      &--filters {
        display: inline-block;
        height: calc(100% - 5rem);
        overflow: scroll;
      }
    }
  }

  .gallery-nav-tabs.nav-tabs {
    display: none;
  }
}
