@import "bootstrap_toolbox";

.gallery-scroll-top.btn {
  background-color: $charcoal;
  bottom: 1rem;
  border-radius: 1rem;
  border: 2px dotted $bone;
  box-shadow: inset 0 0 0 2px $peach-crayola, 0 0 0 2px $peach-crayola;
  right: 1rem;
  position: fixed;
  z-index: 2;

  &:hover {
    background-color: $charcoal;
    border-color: $yellow;
    box-shadow: inset 0 0 0 2px transparent, 0 0 0 2px $peach-crayola;
    color: $peach-crayola;
  }
}

.gallery-filter {
  &-button {
    background: $white-faint;
    border: 1px dotted $charcoal;
    border-radius: 100%;
    cursor: pointer;
    font-size: 4px;
    height: 3rem;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
    width: 3rem;

    .checkmark {
      display: none;
      opacity: 0;
      margin-top: -4px;
      transition: all 0.2s ease-in-out;
    }

    .close-icon {
      display: none;
      opacity: 0;
      stroke-width: 0.7px;
      transition: opacity 0.2s ease-in-out;
      width: calc(100% - 1.5rem);
    }

    &:hover {
      background: $white;
      border-width: 2px;

      .checkmark {
        display: block;
        opacity: 0.5;
      }
    }

    &.active {
      background: $white;
      border-width: 2px;

      .checkmark {
        display: block;
        opacity: 1;
      }

      &:hover {
        .checkmark {
          display: none;
          opacity: 0;
        }

        .close-icon {
          display: block;
          opacity: 1;
        }
      }
    }
  }

  &-name {
    width: calc(100% - 5rem);
  }
}

.gallery-container {
  padding-top: 1px;
  min-height: calc(100vh - 1px - #{$footer-height} - #{$navbar-height});

  &-filters {
    margin-top: 2rem;
    max-width: 540px;

    .list-group-item {
      background: transparent;
    }
  }
}

//.gallery-results-button.btn {
//  background: $blue;
//  border-radius: 0.5rem;
//  border: 4px dashed $yellow;
//  box-shadow: 0 0 0 3px $purple, 0 0 0 5px $blue;
//  color: $white;
//  font-weight: 600;
//
//  &:hover {
//    border-color: $white;
//    box-shadow: 0 0 0 3px $yellow, 0 0 0 5px $purple, 0 0 0 7px $blue;
//  }
//}

.gallery-title {
  color: $charcoal;
  filter: drop-shadow(1px 1px 0 $peach-crayola);
  font-size: calc(3rem + 1.5vw);
  margin-top: 2rem;
}

.page-end {
  &-copy-container {
    align-items: center;
    display: flex;
    justify-content: center;
    letter-spacing: 1.5rem;
    text-transform: uppercase;

    &--empty {
      letter-spacing: 1rem;
    }
  }

  &-copy {
    cursor: default;
    margin-left: 1.7rem;
  }

  &-curve {
    stroke: #ad1061;
    width: 100%;

    &--right {
      transform: rotateY(180deg);
    }
  }
}

.gallery {
  &-nav-tabs.nav-tabs {
    border-bottom: 2px dashed $charcoal;
    font-size: 1.7rem;
    justify-content: space-evenly;

    .gallery-nav-item {
      border: 2px dashed $lavender-gray;
      color: $pink;
      transition: all 0.2s linear;

      &.active {
        background: $charcoal;
        border-color: $lavender-gray;
        margin-bottom: -2px;
        border-bottom-color: transparent;
        color: $white;
        box-shadow: 0 -3px 0 3px $pink, 0 -7px 0 6px $charcoal, 0 -14px 0 3px $lavender-gray;
      }

      &:not(.active) {
        background-color: $charcoal;
        border-color: $bone;
        border-bottom-color: transparent;
        color: $lavender-gray;
      }

      &:hover:not(.active) {
        border-color: $lavender-gray;
        color: $white;
        border-bottom-color: transparent;
        box-shadow: 0 -3px 0 3px $pink, 0 -6px 0 3px $charcoal;
      }
    }
  }
}

.gallery-card {
  background-color: $english-lavender;
  border: 2px dashed $peach-crayola;
  border-radius: 0.5rem;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.22);
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 100%;

  &-image {
    background-position: center;
    background-size: cover;
    filter: drop-shadow(2px 4px 6px $black);
    padding-bottom: 100%;
    transition: background-image 1s ease-in;

    &.placeholder-image {
      cursor: pointer;
      padding: 0 0 100%;

      &:after {
        letter-spacing: 0.1rem;
        position: absolute;
        text-transform: uppercase;
        top: calc(50% - 2em);
      }
    }
  }

  &-body {
    bottom: 0;
    background-color: $charcoal;
    color: $white;
    height: 0;
    padding-bottom: calc(5.5rem + 0.5vw);
    pointer-events: none;
    position: absolute;
    transition: 0.2s ease-out bottom;
    width: 100%;

    .badge {
      font: {
        size: 1rem;
        weight: normal;
      }
      right: 1rem;
      position: absolute;
      top: 5px;
      z-index: 1;
    }
  }
}

.no-results-container {
  padding: 25vh 3rem 0;
}

@media(min-width: map-get($grid-breakpoints, "md")) {
  .gallery-card {
    width: calc(50% - 2rem - 1px);

    &-body {
      bottom: -3rem;
    }

    &:hover {
      .gallery-card-body {
        bottom: 0;
      }
    }
  }
}

@media (min-width: map-get($grid-breakpoints, "lg")) {
  .gallery-card {
    margin-right: 2rem;
    width: 13rem;
  }

  .infinite-scroll-container {
    border-top: 1px solid $english-lavender;
    height: calc(100% - 7rem);
    overflow: hidden scroll;

    /*** Hide scrollbar ***/
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    &::-webkit-scrollbar {
      width: 0; /* For Chrome, Safari, and Opera */
    }
  }

  .no-results-container {
    border-top: 1px solid $purple;
  }

  .gallery-tab-pane {
    min-height: 100%;
    overflow: hidden;

    &--results {
      float: right;
      width: 70%;
    }

    &--filters {
      clear: both;
      margin-top: 5rem;
      width: 30%;
    }
  }

  .gallery-tab-content {
    height: 100%;
    position: relative;
    width: 100%;

    & > .tab-pane.gallery-tab-pane {
      display: block;
      opacity: 1;
      padding: 0 1rem;

      &--filters {
        display: inline-block;
        height: calc(100% - 5rem);
        max-width: 20rem;
        overflow: hidden;
      }
    }
  }

  .gallery-nav-tabs.nav-tabs {
    display: none;
  }
}
