// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bootstrap_toolbox";

.video {
  width: 100%;

  &-container {
    height: 0;
    padding-bottom: 56.25%;
    position: sticky;
    top: 5rem;
    width: 100%;
  }

  &.hide {
    visibility: hidden;
  }

  &-title {
    color: $charcoal;
    font-size: calc(2rem + 10vw);
    left: 0;
    position: absolute;
    right: 0;
    text-shadow: 1px 1px $bone;
    text-align: center;
    top: 20%;


    small {
      font-family: 'Colendra';
      font-size: 65%;
      letter-spacing: 5px;
      margin-top: calc(-1rem - 5vw);
    }
    span {
      font-family: 'Colendra-Alternate';
      letter-spacing: 12px;
      margin: 0;
      margin-top: -0.5rem;
    }
  }
}

.jumbotron--home {
  background-image: url(image-path('home-page-background.jpg'));
  background-position: center;
  background-size: contain;
  margin-bottom: 0;
}

.jumbotron-gallery {
  border: dashed 2px $english-lavender;

  background: $charcoal;
  border-radius: 0.5rem;
  padding: 0;
  position: relative;
  overflow: hidden;

  .container {
    color: $bone;
    padding: 2rem 0;
    position: relative;
    z-index: 1;
  }

  &-title {
    background-color: $english-lavender;
    border: 2px dashed $bone;
    display: inline-block;
    outline: 2px solid #b38095;
    padding: 0.25rem 0.5rem;
    text-shadow: 2px 2px 1px $charcoal;
  }

  &-cta.btn {
    background-color: $english-lavender;
    border: 2px dashed $bone;
    color: $bone;
    max-width: 20rem;
    outline: 2px solid $english-lavender;
    padding: 0.25rem 0.5rem;
    text-shadow: 1px 1px 1px $charcoal;

    &:hover {
      background-color: $bone;
      border-color: $english-lavender;
      color: $charcoal;
      outline: 2px solid $bone;
      text-shadow: none;
    }
  }
}

.container {
  &--page-not-found {
    height: calc(100vh - 12rem);
  }

  &--home-gallery {
    background-color: $bone;
    position: relative;

    .row {
      max-width: map-get($grid-breakpoints, "xl");
    }
  }
}

.category-highlight {
  background: $english-lavender-bright;
  border-right: #fefdfd dashed 2px;
  border-radius: 0.5rem;
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 0.5rem;
}

.categories-list {
  &-item.list-group-item {
    background: transparent;
    border-radius: 0.5rem;
    position: relative;
  }

  &-item:hover.list-group-item {
    background-color: $charcoal;

    .category-highlight {
      display: inline-block;
    }
  }
}

.jumbotron-background {
  height: 100%;

  &-container {
    bottom: 0;
    left: 0;
    filter: drop-shadow(2px 4px 2px $black);
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (min-width: map-get($grid-breakpoints, "md")) {
  .video-title {
    font-size: 6.8rem;
    small {
      margin-top: -3.5rem;
    }
  }
}
