// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bootstrap_toolbox";
@import "bootstrap/scss/jumbotron";
@import "bootstrap/scss/list-group";

.jumbotron--home {
  background-image: url(image-path('home-page-background.jpg'));
  background-position: center;
  background-size: contain;
}

.jumbotron-gallery {
  border: dashed 2px $english-lavender;

  background: $charcoal;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;

  .container {
    color: $bone;
    filter: drop-shadow(0px 0px 0px $black);
    position: relative;
    text-shadow: 0 0 10px $black;
    z-index: 1;
  }

  &-cta.btn {
    background: $charcoal;
    border: 1px dashed $bone;
    border-radius: 0.5rem;
    color: $bone;
    text-shadow: none;

    &:hover {
      background: $bone;
      color: $charcoal;
      border-color: $charcoal;
    }
  }
}

.container {
  &--page-not-found {
    height: calc(100vh - 12rem);
  }

  &--home-gallery {
    max-width: map-get($grid-breakpoints, "xl");
  }
}

.category-highlight {
  background: $english-lavender-bright;
  border-right: #fefdfd dashed 2px;
  border-radius: 0.5rem;
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  width: 0.5rem;
}

.categories-list {
  &-item.list-group-item {
    border-radius: 0.5rem;
    position: relative;
  }

  &-item:hover.list-group-item {
    background-color: $charcoal;

    .category-highlight {
      display: inline-block;
    }
  }
}

.jumbotron-background {
  bottom: 0;
  left: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  position: absolute;
  top: 0;
  width: 100%;

  &-container {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
