// Place all the styles related to the product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bootstrap_toolbox";

.image-container {
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.product {
  &-outer-container {
    min-height: calc(100vh - 11.4rem);
  }

  &-inner-container {
    max-width: 60rem;
  }

  &-title {
    margin-bottom: 2rem;
    max-width: 60rem;
  }

  &-carousel .carousel {
    margin-bottom: 1rem;
  }

  &-carousel-inner {
    background-color: $english-lavender;
    border-radius: 0.5rem;
    border: 2px dashed $peach-crayola;
    box-shadow: 0 0 0 3px $lavender-gray, 0 0 0 5px $charcoal;
    height: 0;
    padding-bottom: calc(9/16 * 100%);

    @media (min-width: map-get($grid-breakpoints, "md")) {
      margin-right: 3rem;
      margin-left: 3rem;
      width: calc(100% - 6rem);
    }
  }

  &-carousel .carousel-indicators {
    flex-wrap: wrap;
    margin: 0;
    position: static;
    top: calc(100% + 2rem);
  }

  &-carousel .product-carousel-indicator {
    background-size: cover;
    background-position: center;
    border: 0;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
    height: 4rem;
    margin: 0 0.5rem 0.5rem 0;
    width: 4rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &-carousel-item {
    height: 100%;
    filter: drop-shadow(2px 4px 6px $black);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &-carousel-image {
    bottom: 0;
    filter: blur(0px) opacity(1);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.5s ease-in-out;

    .zooming & {
      filter: blur(3px) opacity(0.3);
    }
  }

  &-carousel-control {
    display: none;
    opacity: 0.8;

    &:hover {
      filter: drop-shadow(0 0 6px black);
      opacity: 1;
    }

    @media (min-width: map-get($grid-breakpoints, "md")) {
      display: flex
    }

    &-prev {
      left: -3rem;
    }

    &-next {
      right: -3rem;
    }

    &-icon:after {
      content: '';
      position: absolute;
      top: calc(50% - 1rem);
      height: 0;
      width: 0;
    }

    .carousel-control-prev-icon:after {
      left: calc(50% - 0.707rem);
      border-right: 1.414rem solid $bright-pale-green;
      border-top: 1rem solid transparent;
      border-bottom: 1rem solid transparent;
    }

    .carousel-control-next-icon:after {
      right: calc(50% - 0.707rem);
      border-left: 1.414rem solid $bright-pale-green;
      border-top: 1rem solid transparent;
      border-bottom: 1rem solid transparent;
    }
  }
}

.product-message-modal {
  &-header {
    border: 0;
  }

  &-title {
    font-size: 2rem;
  }

  &-close {
    background: transparent;
    border: 0;
    float: right;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    color: $black;
    text-shadow: 0 1px 0 $white;
    opacity: .5;
  }
}

.product-category-tag {
  background: $charcoal;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 3px;
  border-top-left-radius: 10px;
  color: $white;
  display: inline-block;
  list-style: none;
  padding: 0.5rem 1rem 0.5rem;
  position: relative;

  &:hover {
    background: $white;
    color: $charcoal;
    text-decoration: none;

    .product-category-tag-before {
      background: $charcoal;
    }
    .product-category-tag-after {
      background: $white;
    }
  }

  &-before {
    background: $white;
    border-radius: 100%;
    content: '';
    height: 0.5rem;
    left: -8px;
    position: absolute;
    top: calc(50% - 0.25rem);
    width: 0.5rem;
    z-index: 2;
  }

  &-copy {
    position: relative;
    z-index: 3;
  }

  &-after {
    background: $charcoal;
    border-radius: 100%;
    bottom: 0;
    content: '';
    left: -1.2rem;
    position: absolute;
    top: 0;
    width: 4rem;
    z-index: 1;
  }
}

.zoom-glass {
  border: 2px solid white;
  border-radius: 100%;
  cursor: none;
  display: none;
  height: var(--height);
  left: var(--left);
  overflow: hidden;
  position: absolute;
  top: var(--top);
  transform: scale(2);
  width: var(--width);
  z-index: 9999;

  .zooming & {
    display: block;
  }

  img {
    left: calc(-1 * var(--left));
    position: absolute;
    top: calc(-1 * var(--top));
  }
}
