%nav.navbar.navbar-expand-md.navbar-dark.shadow--light
  %a.navbar-brand.d-flex.flex-column{ href: root_path }
    %span Sivumbike
    %small Patchworks
  %button.navbar-toggler{ |
    type: 'button', |
    data: { toggle: 'collapse', target: '#navbar' }, |
    aria: { controls: 'navbar', expanded: 'false', label: 'Toggle navigation' } |
  } |
    %span.navbar-toggler-bar.navbar-toggler-bar--top
    %span.navbar-toggler-bar.navbar-toggler-bar--mid
    %span.navbar-toggler-bar.navbar-toggler-bar--bot

  - if type === 'app'
    = render :partial => 'app_nav_items'
  - elsif type === 'admin'
    = render :partial => 'admin_nav_items'
