= link_to "Sivumbike Patchworks", root_path
- if user_signed_in?
  - if current_user.role == 'admin'
    = link_to t('dashboard'), admin_root_path
  = link_to t('sign_out'), destroy_session_path(current_user), method: :delete
