%div.col-lg-9.col-sm-12.product-carousel
  %div.w-100.carousel.slide#product-carousel
    %div.carousel-inner.product-carousel-inner
      %div.carousel-item.product-carousel-item.active
        %img{ src: @product.gallery_image.imgproxy_url(width: @size[:width], height: @size[:height]),
              class: 'd-block w-100 product-carousel-image',
              'data-zoom-copy':  @product.gallery_image.imgproxy_url }
      - @product.detail_images.to_a.each do |image|
        %div.carousel-item.product-carousel-item
          %img{ src: image.imgproxy_url(width: @size[:width], height: @size[:height]),
                class: 'd-block w-100 product-carousel-image',
                'data-zoom-copy': image.imgproxy_url }
    - if @product.detail_images.attached?
      %a.product-carousel-control.product-carousel-control-prev.carousel-control-prev{ href: '#product-carousel', role: 'button', 'data-slide': 'prev' }
        %span.carousel-control-prev-icon.product-carousel-control-icon{ 'aria-hidden': true }
        %span.sr-only= t('product.prev')
      %a.product-carousel-control.product-carousel-control-next.carousel-control-next{ href: '#product-carousel', role: 'button', 'data-slide': 'next' }
        %span.carousel-control-next-icon.product-carousel-control-icon{ 'aria-hidden': true }
        %span.sr-only= t('product.next')
  - if @product.detail_images.attached?
    %ol.carousel-indicators#carousel-indicators
      %li.product-carousel-indicator.active{ style: "background-image: url(#{@product.gallery_image.imgproxy_url(width: 64, height: 64)})", data: { target: '#product-carousel', 'slide-to': 0 } }
      - @product.detail_images.to_a.each_with_index do |image, index|
        %li.product-carousel-indicator{ style: "background-image: url(#{image.imgproxy_url(width: 64, height: 64)})", data: { target: '#product-carousel', 'slide-to': index+1 } }
